@use '../../base';

.moho-encounter-token {
  width: calc(var(--tokenScale) * 75px);
  aspect-ratio: 1 / 1;

  box-sizing: border-box;
  background-image: url('img/encounter-tokens-150.png');
  background-size: 300% 500%;
  background-repeat: no-repeat;

  image-rendering: -webkit-optimize-contrast;
  image-rendering: high-quality;
  position: relative;
}

.moho-encounter-token-container.selectable {
  .moho-encounter-token {
    cursor: pointer;
    filter: drop-shadow(2px 0px 0px base.$selectable-color)
      drop-shadow(-2px 0px 0px base.$selectable-color)
      drop-shadow(0px 2px 0px base.$selectable-color)
      drop-shadow(0px -2px 0px base.$selectable-color);
    outline: none !important;
  }
}

.moho-encounter-token-container.selectable:hover,
.moho-encounter-token-container.selected {
  .moho-encounter-token {
    cursor: pointer;
    filter: drop-shadow(2px 0px 0px base.$selected-color)
      drop-shadow(-2px 0px 0px base.$selected-color)
      drop-shadow(0px 2px 0px base.$selected-color)
      drop-shadow(0px -2px 0px base.$selected-color);
    outline: none !important;
  }
}

.moho-encounter-token.card-side {
  box-shadow: none !important;
}

.moho-encounter-token[data-type='Informer'] {
  background-position-x: 50%;
}

.moho-encounter-token[data-type='Loyal'] {
  background-position-x: 100%;
}

.moho-encounter-token[data-type='Loyal'] {
  background-position-x: 100%;
}

.moho-encounter-token[data-color='blue'] {
  background-position-y: 0%;
}

.moho-encounter-token[data-color='green'] {
  background-position-y: 25%;
}

.moho-encounter-token[data-color='pink'] {
  background-position-y: 50%;
}

.moho-encounter-token[data-color='purple'] {
  background-position-y: 75%;
}

.moho-encounter-token[data-color='yellow'] {
  background-position-y: 100%;
}

// .moho-encounter-token[data-type='back'] {
//   background-image: url('img/back.jpg');
//   background-size: 100% 100%;
// }
