@charset "UTF-8";
/*
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * MollyHouse implementation : © Frans Bongers <fjmbongers@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */
body > .card {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.card {
  flex-shrink: 0;
}

.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}

.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}

.card .card-sides .card-side.back {
  transform: rotateY(180deg);
}

.card .card-sides .card-side.back > * {
  pointer-events: none;
  user-select: none;
}

.card-stock .card.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
  cursor: pointer;
}

.card-stock .card.bga-cards_disabled-card {
  cursor: not-allowed;
  filter: contrast(0.6);
}

.card-stock.line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.line-stock[data-center=true] {
  justify-content: center;
}

.card-stock.slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.slot-stock[data-center=true] {
  justify-content: center;
}

.card-stock.scrollable-stock {
  display: flex;
  gap: var(--button-gap);
}

.card-stock.scrollable-stock[data-scrollbar-visible=false] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-stock.scrollable-stock[data-scrollbar-visible=false]::-webkit-scrollbar {
  display: none;
}

.card-stock.scrollable-stock .scrollable-stock-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gap);
}

.card-stock.scrollable-stock .scrollable-stock-inner[data-center=true] {
  justify-content: center;
}

.card-stock.hand-stock {
  display: flex;
  justify-content: center;
}

.card-stock.hand-stock .card {
  transform: translateY(calc(var(--card-shift) * var(--hand-stock-middle-index-abs))) rotate(calc(var(--hand-stock-middle-index) * var(--card-inclination)));
}

.card-stock.hand-stock .card:not(:first-child) {
  margin-left: calc(-1 * var(--card-overlap));
}

.card-stock.manual-position-stock {
  position: relative;
}

.card-stock.manual-position-stock .card {
  position: absolute;
}

.card-stock.void-stock {
  position: relative;
}

.card-stock.void-stock .card {
  position: absolute;
}

.card-stock.deck {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.card-stock.deck > .card {
  position: absolute;
  top: calc(var(--thickness) * var(--xShadowShift) * -1);
  left: calc(var(--thickness) * var(--yShadowShift) * -1);
}

.card-stock.deck > .card:first-child {
  box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}

.card-stock.deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.deck[data-empty=true] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

.bga-cards_deck-counter {
  --bga-cards-deck-counter-size: 20px;
  position: absolute;
  z-index: 2;
  width: var(--bga-cards-deck-counter-size);
  height: var(--bga-cards-deck-counter-size);
  left: calc(var(--bga-cards-deck-left) - var(--bga-cards-deck-counter-size) / 2);
  top: calc(var(--bga-cards-deck-top) - var(--bga-cards-deck-counter-size) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
}

.bga-cards_deck-counter.round {
  color: black;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px black;
  font-size: 14px;
}

.bga-cards_deck-counter.text-shadow {
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  font-size: 20px;
}

.bga-cards_deck-counter.hidden {
  display: none;
}

.card-stock.all-visible-deck {
  position: absolute;
  --tile-count: 1;
  width: calc(var(--width) + (var(--tile-count) - 1) * var(--horizontal-shift));
  height: calc(var(--height) + (var(--tile-count) - 1) * var(--vertical-shift));
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  opacity: var(--tile-count);
}

.card-stock.all-visible-deck > .card {
  position: absolute;
  margin: 0;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  top: calc(var(--vertical-shift) * var(--order));
  left: calc(var(--horizontal-shift) * var(--order));
}

.card-stock.all-visible-deck.vertical:hover, .card-stock.all-visible-deck.vertical:active, .card-stock.all-visible-deck.vertical.opened {
  height: calc((var(--height) + var(--vertical-shift)) * var(--tile-count) - var(--vertical-shift));
  z-index: 1;
}

.card-stock.all-visible-deck.vertical:hover > .card, .card-stock.all-visible-deck.vertical:active > .card, .card-stock.all-visible-deck.vertical.opened > .card {
  top: calc((var(--height) + var(--vertical-shift)) * var(--order));
}

.card-stock.all-visible-deck.horizontal:hover, .card-stock.all-visible-deck.horizontal:active, .card-stock.all-visible-deck.horizontal.opened {
  width: calc((var(--width) + var(--horizontal-shift)) * var(--tile-count) - var(--horizontal-shift));
  z-index: 1;
}

.card-stock.all-visible-deck.horizontal:hover > .card, .card-stock.all-visible-deck.horizontal:active > .card, .card-stock.all-visible-deck.horizontal.opened > .card {
  left: calc((var(--width) + var(--horizontal-shift)) * var(--order));
}

.card-stock.all-visible-deck .bga-cards_deck-counter {
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
}

.card-stock.all-visible-deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.all-visible-deck[data-empty=true] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

body > .bga-dice_die {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.bga-dice_die {
  --roll-duration: 1000ms;
  flex-shrink: 0;
  position: relative;
  width: var(--size);
  height: var(--size);
  display: inline-block;
  transform-style: preserve-3d;
  transform-origin: center center;
}

.bga-dice_die .bga-dice_die-faces {
  transform-origin: center center;
  transform-style: preserve-3d;
  position: relative;
  display: inline-block;
  transform: rotate3d(1, 1, 1, -720deg);
  transition: transform var(--roll-duration) ease-out;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
}

.bga-dice_die .bga-dice_die-faces .bga-dice_die-face {
  position: absolute;
  width: var(--size);
  height: var(--size);
  display: inline-block;
  height: 100%;
  width: 100%;
  grid-column: 1;
  grid-row: 1;
}

.bga-dice_die4 {
  --third-size: calc(var(--size) / 3 * 0.6);
  transform: translateZ(var(--third-size));
}

.bga-dice_die4 .bga-dice_die-faces[data-visible-face="1"] {
  transform: rotateZ(0deg) rotateX(0deg);
}

.bga-dice_die4 .bga-dice_die-faces[data-visible-face="2"] {
  transform: rotate3d(0, 1, 0, 180deg) rotateZ(0deg) rotateX(70.528779deg);
}

.bga-dice_die4 .bga-dice_die-faces[data-visible-face="3"] {
  transform: rotateZ(180deg) rotateX(250deg) rotateZ(-120deg);
}

.bga-dice_die4 .bga-dice_die-faces[data-visible-face="4"] {
  transform: rotateX(120deg) rotateZ(-60deg);
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  height: 86.6%;
  transform-origin: 50% 66.66667%;
  margin-left: calc(var-(--size) * -0.5);
  margin-top: calc(var-(--size) * -0.5);
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face[data-face="1"] {
  transform: rotate3d(0, 1, 0, 180deg) translateZ(var(--third-size));
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face[data-face="2"] {
  transform: rotateZ(0deg) rotateX(-70.528779deg) translateZ(var(--third-size));
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face[data-face="3"] {
  transform: rotateZ(120deg) rotateX(-70.528779deg) translateZ(var(--third-size));
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face[data-face="4"] {
  transform: rotateZ(240deg) rotateX(-70.528779deg) translateZ(var(--third-size));
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face .bga-dice_die-face-number {
  transform-origin: center 66.66667%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  display: block;
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face .bga-dice_die-face-number:nth-child(1) {
  transform: rotateZ(0deg);
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face .bga-dice_die-face-number:nth-child(2) {
  transform: rotateZ(120deg);
}

.bga-dice_die4 .bga-dice_die-faces .bga-dice_die-face .bga-dice_die-face-number:nth-child(3) {
  transform: rotateZ(240deg);
}

.bga-dice_die6 {
  --half-size: calc(var(--size) / 2);
  transform: translateZ(var(--half-size));
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="1"] {
  transform: rotate3d(0, 0, 0, 0deg);
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="2"] {
  transform: rotate3d(1, 0, 0, 90deg);
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="3"] {
  transform: rotate3d(0, -1, 0, 90deg);
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="4"] {
  transform: rotate3d(0, 1, 0, 90deg);
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="5"] {
  transform: rotate3d(-1, 0, 0, 90deg);
}

.bga-dice_die6 .bga-dice_die-faces[data-visible-face="6"] {
  transform: rotate3d(0, 1, 0, 180deg);
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face {
  border-radius: var(--bga-dice_border-radius);
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="1"] {
  transform: rotate3d(0, 0, 0, 0deg) translateZ(var(--half-size));
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="2"] {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(var(--half-size));
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="3"] {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(var(--half-size));
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="4"] {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(var(--half-size));
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="5"] {
  transform: rotate3d(1, 0, 0, 90deg) translateZ(var(--half-size));
}

.bga-dice_die6 .bga-dice_die-faces .bga-dice_die-face[data-face="6"] {
  transform: rotate3d(0, 1, 0, 180deg) translateZ(var(--half-size));
}

.bga-dice_die-stock {
  perspective: var(--perspective);
  transform-style: preserve-3d;
  transform-origin: center center;
}

.bga-dice_die-stock .bga-dice_die.bga-dice_selectable-die:not(.bga-dice_disabled-die) {
  cursor: pointer;
}

.bga-dice_die-stock .bga-dice_die.bga-dice_disabled-die {
  cursor: not-allowed;
  filter: contrast(0.6);
}

.bga-dice_die-stock.bga-dice_line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.bga-dice_die-stock.bga-dice_line-stock[data-center=true] {
  justify-content: center;
}

.bga-dice_die-stock.bga-dice_slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.bga-dice_die-stock.bga-dice_slot-stock[data-center=true] {
  justify-content: center;
}

.bga-dice_die-stock.bga-dice_manual-position-stock {
  position: relative;
}

.bga-dice_die-stock.bga-dice_manual-position-stock .bga-dice_die {
  position: absolute;
}

.bga-dice_die-stock.bga-dice_void-stock {
  position: relative;
}

.bga-dice_die-stock.bga-dice_void-stock .bga-dice_die {
  position: absolute;
}

#encounter-token-discard,
#indictment-discard,
#item-discard {
  position: absolute;
  top: -400px;
  left: 0px;
  --cardScale: 1;
  --tokenScale: 1;
  width: 178px;
  aspect-ratio: 402/265;
}

#moho-board {
  --boardScale: var(--leftColumnScale);
  --tokenScale: var(--leftColumnScale);
  --cardScale: var(--boardScale);
  --iconScale: var(--boardScale);
  position: relative;
  background-image: url("img/board.jpg");
  background-size: 100% 100%;
  height: calc(var(--leftColumnScale) * 1157px);
  min-height: calc(var(--leftColumnScale) * 1157px);
  width: calc(var(--leftColumnScale) * 1500px);
  outline: 1px solid black;
}
#moho-board #moho-encounter-tokens {
  position: absolute;
}
#moho-board #moho-encounter-tokens .moho-encounter-tokens-molly-house {
  position: absolute;
}
#moho-board #moho-encounter-tokens .moho-encounter-tokens-molly-house .moho-encounter-token-container:not(:first-child) {
  margin-left: calc(var(--tokenScale) * -40px);
}
#moho-board #moho-playmat {
  position: relative;
  background-image: url("img/playmat.jpg");
  background-size: 100% 100%;
  height: calc(var(--boardScale) * 748px);
  min-height: calc(var(--boardScale) * 748px);
  width: calc(var(--boardScale) * 880px);
  position: absolute;
  left: calc(var(--boardScale) * 203px);
  top: calc(var(--boardScale) * 201px);
  border: calc(var(--boardScale) * 2px) solid black;
  border-radius: calc(var(--boardScale) * 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#moho-board #moho-gossip-pile {
  position: absolute;
  left: calc(var(--boardScale) * 1300px);
  top: calc(var(--boardScale) * 903px);
  width: calc(var(--boardScale) * 161px);
  height: calc(var(--boardScale) * 225px);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}
#moho-board #moho-gossip-pile .card {
  position: absolute !important;
}
#moho-board .moho-shop {
  position: absolute;
}
#moho-board #CannonStreet {
  left: calc(var(--boardScale) * 556px);
  top: calc(var(--boardScale) * 973px);
}
#moho-board #DukeStreet {
  left: calc(var(--boardScale) * 48px);
  top: calc(var(--boardScale) * 517px);
}
#moho-board #NobleStreet {
  left: calc(var(--boardScale) * 556px);
  top: calc(var(--boardScale) * 65px);
}
#moho-board #LeadenhallStreet {
  left: calc(var(--boardScale) * 1063px);
  top: calc(var(--boardScale) * 517px);
}
#moho-board .moho-pawn {
  position: absolute;
}
#moho-board #moho-dice-stock[data-festivity=true] {
  display: none;
  pointer-events: none;
}
#moho-board #moho-evidence-counters .icon-counter-container {
  position: absolute;
}
#moho-board #moho-evidence-counters #cubes-MotherClaps {
  left: calc(var(--boardScale) * 125px);
  top: calc(var(--boardScale) * 60px);
}
#moho-board #moho-evidence-counters #cubes-MissMuffs {
  left: calc(var(--boardScale) * 1123px);
  top: calc(var(--boardScale) * 60px);
}
#moho-board #moho-evidence-counters #cubes-SukeyBevells {
  left: calc(var(--boardScale) * 1123px);
  top: calc(var(--boardScale) * 1047px);
}
#moho-board #moho-evidence-counters #cubes-JuliusCesarTaylors {
  left: calc(var(--boardScale) * 125px);
  top: calc(var(--boardScale) * 1047px);
}

.moho-house-raided-marker {
  position: absolute;
  width: calc(var(--boardScale) * 135px);
  height: calc(var(--boardScale) * 135px);
  background-image: url("img/house_raided_markers.png");
  background-size: 400% 100%;
}

.moho-house-raided-marker[data-raided=false] {
  display: none;
}

.moho-house-raided-marker[data-house=MotherClaps] {
  background-position-x: 100%;
  left: calc(var(--boardScale) * 0px);
}

.moho-house-raided-marker[data-house=MissMuffs] {
  background-position-x: 33.333333%;
  left: calc(var(--boardScale) * 1150px);
}

.moho-house-raided-marker[data-house=SukeyBevells] {
  background-position-x: 66.666667%;
  left: calc(var(--boardScale) * 1150px);
  bottom: calc(var(--boardScale) * 0px);
}

.moho-house-raided-marker[data-house=JuliusCesarTaylors] {
  background-position-x: 0%;
  bottom: calc(var(--boardScale) * 0px);
}

.moho-dangerous-cruising-marker {
  position: absolute;
  width: calc(var(--boardScale) * 189px);
  aspect-ratio: 400/109;
  background-image: url("img/dangerous_cruising.png");
  background-size: 100% 100%;
}

.moho-dangerous-cruising-marker[data-dangerous=false] {
  display: none;
}

.moho-dangerous-cruising-marker[data-side-of-board=left] {
  transform: rotate(90deg);
}

.moho-dangerous-cruising-marker[data-side-of-board=top] {
  transform: rotate(180deg);
}

.moho-dangerous-cruising-marker[data-side-of-board=right] {
  transform: rotate(270deg);
}

.moho-select-box {
  position: absolute;
  display: none;
}

.moho-select-box.selectable {
  cursor: pointer;
  display: block;
  outline: calc(var(--boardScale) * 4px) solid yellow !important;
}

.moho-select-box.selected,
.moho-select-box.selectable:hover {
  cursor: pointer;
  display: block;
  outline: calc(var(--boardScale) * 4px) solid blue !important;
}

#moho-week-marker {
  position: absolute;
  width: calc(var(--boardScale) * 31px);
  background-image: url("img/week_marker.png");
  background-size: 100% 100%;
  aspect-ratio: 132/174;
}

#info-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#info-panel #info-panel-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
#info-panel #info-panel-buttons #help-mode-switch .checkbox {
  display: none;
}
#info-panel #info-panel-buttons #help-mode-switch .label {
  background-color: #2c3037;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  height: 26px;
  width: 50px;
  margin-right: 4px;
}
#info-panel #info-panel-buttons #help-mode-switch .label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear, color 0.7s linear;
}
#info-panel #info-panel-buttons #help-mode-switch .checkbox:checked + .label .ball {
  transform: translateX(24px);
}
#info-panel #info-panel-buttons #help-mode-switch svg {
  width: 27px;
}

/*! nouislider - 14.6.0 - 6/27/2020 */
.noUi-target, .noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
}

.noUi-base, .noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect, .noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}

.noUi-connect {
  height: 100%;
  width: 100%;
}

.noUi-origin {
  height: 10%;
  width: 10%;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

.noUi-vertical .noUi-origin {
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect, .noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

.noUi-horizontal {
  height: 18px;
}

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  top: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connect {
  background: #3FB8AF;
}

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}

.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}

.noUi-handle:after, .noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}

.noUi-handle:after {
  left: 17px;
}

.noUi-vertical .noUi-handle:after, .noUi-vertical .noUi-handle:before {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}

[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled] .noUi-handle, [disabled].noUi-handle, [disabled].noUi-target {
  cursor: not-allowed;
}

.noUi-pips, .noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

.noUi-marker {
  position: absolute;
  background: #CCC;
}

.noUi-marker-sub {
  background: #AAA;
}

.noUi-marker-large {
  background: #AAA;
}

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

#preference-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2-margin-top: 5px !important;
  h2-margin-bottom: 5px !important;
}
#preference-header #preference-tabs {
  display: flex;
  margin-top: auto;
}
#preference-header #preference-tabs .preference-tab {
  background-color: lightgrey;
  color: gray;
  padding: 6px 12px;
  cursor: pointer;
}
#preference-header #preference-tabs .preference-tab[data-state=selected] {
  font-weight: bold;
  background-color: white;
  color: black;
}

.preference-container .noUi-touch-area {
  background-color: darkgrey;
}
.preference-container .noUi-target {
  border: 1px solid #767676;
}

.preference-container[data-version=mobile] #preference-header {
  flex-direction: column;
}
.preference-container[data-version=mobile] #preference-tabs {
  flex-wrap: wrap;
  justify-content: flex-end;
}

#preference-content {
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.icon-counter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  gap: 4px;
}
.icon-counter-container .icon-counter-counter {
  cursor: default;
  font-weight: bold;
  font-size: calc(var(--iconScale) * 20px);
}
.icon-counter-container[data-has-value=false] {
  opacity: 0.3;
}

.icon-counter-container[data-type=overlap] .icon-counter-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-counter-container[data-type=overlap] .icon-counter-counter {
  text-shadow: #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px;
}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton,
  #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
/* Hide the "You may note something for next time..." popup that would appear. */
#turnBasedNotesIncent {
  display: none;
}

/** Hide player is now online, player is now offline messages 
* Note: requires setup of adding notif name as class
* TODO: add name of function
*/
.notif_playerstatus {
  display: none !important;
}

/* Prevent the game from scrolling while the game log or chat is visible on mobile. */
body.chatbar_ontop {
  overflow: hidden;
}

/* Add text shadows to player colors that require it */
a[style*="color: #e3bcb4"],
a[style*="color:#e3bcb4"],
span[style*="color: #e3bcb4"],
span[style*="color:#e3bcb4"],
a[style*="color: #a2a882"],
a[style*="color:#a2a882"],
span[style*="color: #a2a882"],
span[style*="color:#a2a882"],
a[style*="color: #fcd873"],
a[style*="color:#fcd873"],
span[style*="color: #fcd873"],
span[style*="color:#fcd873"] {
  text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black, 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black !important;
}

#page-title {
  min-height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pagemaintitle_wrap {
  flex-grow: 1;
}

.moho-encounter-token {
  width: calc(var(--tokenScale) * 75px);
  aspect-ratio: 1/1;
  box-sizing: border-box;
  background-image: url("img/encounter-tokens-150.png");
  background-size: 300% 500%;
  background-repeat: no-repeat;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: high-quality;
  position: relative;
}

.moho-encounter-token-container.selectable .moho-encounter-token {
  cursor: pointer;
  filter: drop-shadow(2px 0px 0px yellow) drop-shadow(-2px 0px 0px yellow) drop-shadow(0px 2px 0px yellow) drop-shadow(0px -2px 0px yellow);
  outline: none !important;
}

.moho-encounter-token-container.selectable:hover .moho-encounter-token,
.moho-encounter-token-container.selected .moho-encounter-token {
  cursor: pointer;
  filter: drop-shadow(2px 0px 0px blue) drop-shadow(-2px 0px 0px blue) drop-shadow(0px 2px 0px blue) drop-shadow(0px -2px 0px blue);
  outline: none !important;
}

.moho-encounter-token.card-side {
  box-shadow: none !important;
}

.moho-encounter-token[data-type=Informer] {
  background-position-x: 50%;
}

.moho-encounter-token[data-type=Loyal] {
  background-position-x: 100%;
}

.moho-encounter-token[data-type=Loyal] {
  background-position-x: 100%;
}

.moho-encounter-token[data-color=blue] {
  background-position-y: 0%;
}

.moho-encounter-token[data-color=green] {
  background-position-y: 25%;
}

.moho-encounter-token[data-color=pink] {
  background-position-y: 50%;
}

.moho-encounter-token[data-color=purple] {
  background-position-y: 75%;
}

.moho-encounter-token[data-color=yellow] {
  background-position-y: 100%;
}

.moho-indictment-container {
  aspect-ratio: 402/265;
}

.moho-indictment {
  width: calc(var(--cardScale) * 178px);
  aspect-ratio: 402/265;
  box-sizing: border-box;
  background-image: url("img/indictment_cards.jpg");
  background-size: 900% 200%;
  background-repeat: no-repeat;
  border: calc(var(--cardScale) * 1px) black solid;
  border-radius: calc(var(--cardScale) * 5px);
  image-rendering: -webkit-optimize-contrast;
  image-rendering: high-quality;
  position: relative;
}

.moho-indictment-container:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
  z-index: 1;
}

.moho-indictment[data-indictment-id=Major1] {
  background-position-x: 0%;
  background-position-y: 0%;
}

.moho-indictment[data-indictment-id=Major2] {
  background-position-x: 12.5%;
  background-position-y: 0%;
}

.moho-indictment[data-indictment-id=Major3] {
  background-position-x: 25%;
  background-position-y: 0%;
}

.moho-indictment[data-indictment-id=Major4] {
  background-position-x: 37.5%;
  background-position-y: 0%;
}

.moho-indictment[data-indictment-id=Major5] {
  background-position-x: 50%;
  background-position-y: 0%;
}

.moho-indictment[data-indictment-id=Major6] {
  background-position-x: 62.5%;
  background-position-y: 0%;
}

.moho-indictment[data-indictment-id=Major7] {
  background-position-x: 75%;
  background-position-y: 0%;
}

.moho-indictment[data-indictment-id=Major8] {
  background-position-x: 87.5%;
  background-position-y: 0%;
}

.moho-indictment[data-indictment-id=major] {
  background-position-x: 100%;
  background-position-y: 0%;
}

.moho-indictment[data-indictment-id=Minor1] {
  background-position-x: 0%;
  background-position-y: 100%;
}

.moho-indictment[data-indictment-id=Minor2] {
  background-position-x: 12.5%;
  background-position-y: 100%;
}

.moho-indictment[data-indictment-id=Minor3] {
  background-position-x: 25%;
  background-position-y: 100%;
}

.moho-indictment[data-indictment-id=Minor4] {
  background-position-x: 37.5%;
  background-position-y: 100%;
}

.moho-indictment[data-indictment-id=Minor5] {
  background-position-x: 50%;
  background-position-y: 100%;
}

.moho-indictment[data-indictment-id=Minor6] {
  background-position-x: 62.5%;
  background-position-y: 100%;
}

.moho-indictment[data-indictment-id=Minor7] {
  background-position-x: 75%;
  background-position-y: 100%;
}

.moho-indictment[data-indictment-id=Minor8] {
  background-position-x: 87.5%;
  background-position-y: 100%;
}

.moho-indictment[data-indictment-id=minor] {
  background-position-x: 100%;
  background-position-y: 100%;
}

.moho-item {
  width: calc(var(--cardScale) * 178px);
  aspect-ratio: 402/265;
  box-sizing: border-box;
  background-image: url("img/items.jpg");
  background-size: 500% 200%;
  background-repeat: no-repeat;
  border: calc(var(--cardScale) * 1px) black solid;
  border-radius: calc(var(--cardScale) * 5px);
  image-rendering: -webkit-optimize-contrast;
  image-rendering: high-quality;
  position: relative;
}

.moho-item:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
}

.moho-item[data-type=BottleOfGin] {
  background-position-x: 0%;
  background-position-y: 0%;
}

.moho-item[data-type=Bribe] {
  background-position-x: 25%;
  background-position-y: 0%;
}

.moho-item[data-type=Domino] {
  background-position-x: 50%;
  background-position-y: 0%;
}

.moho-item[data-type=DressOfFans] {
  background-position-x: 75%;
  background-position-y: 0%;
}

.moho-item[data-type=DressOfCups] {
  background-position-x: 100%;
  background-position-y: 0%;
}

.moho-item[data-type=DressOfHearts] {
  background-position-x: 0%;
  background-position-y: 100%;
}

.moho-item[data-type=DressOfPentacles] {
  background-position-x: 25%;
  background-position-y: 100%;
}

.moho-item[data-type=NewspaperNotice] {
  background-position-x: 50%;
  background-position-y: 100%;
}

.moho-item[data-type=Violin] {
  background-position-x: 75%;
  background-position-y: 100%;
}

.moho-item[data-type=Back] {
  background-position-x: 100%;
  background-position-y: 100%;
}

.moho-vice-card {
  width: calc(var(--cardScale) * 161px);
  height: calc(var(--cardScale) * 225px);
  box-sizing: border-box;
  background-image: url("img/vice_cards.jpg");
  background-size: 1300% 400%;
  background-repeat: no-repeat;
  border: calc(var(--cardScale) * 1px) black solid;
  border-radius: calc(var(--cardScale) * 5px);
  image-rendering: -webkit-optimize-contrast;
  image-rendering: high-quality;
  position: relative;
}

.moho-vice-card[data-card-id=back] {
  background-image: url("img/back.jpg");
  background-size: 100% 100%;
}

.moho-vice-card:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
}

.moho-vice-card[data-card-id=Cups1] {
  background-position-x: 0%;
  background-position-y: 0%;
}

.moho-vice-card[data-card-id=Cups2] {
  background-position-x: 8.3333333333%;
  background-position-y: 0%;
}

.moho-vice-card[data-card-id=Cups3] {
  background-position-x: 16.6666666667%;
  background-position-y: 0%;
}

.moho-vice-card[data-card-id=Cups4] {
  background-position-x: 25%;
  background-position-y: 0%;
}

.moho-vice-card[data-card-id=Cups5] {
  background-position-x: 33.3333333333%;
  background-position-y: 0%;
}

.moho-vice-card[data-card-id=Cups6] {
  background-position-x: 41.6666666667%;
  background-position-y: 0%;
}

.moho-vice-card[data-card-id=Cups7] {
  background-position-x: 50%;
  background-position-y: 0%;
}

.moho-vice-card[data-card-id=Cups8] {
  background-position-x: 58.3333333333%;
  background-position-y: 0%;
}

.moho-vice-card[data-card-id=Cups9] {
  background-position-x: 66.6666666667%;
  background-position-y: 0%;
}

.moho-vice-card[data-card-id=CupsConstable] {
  background-position-x: 75%;
  background-position-y: 0%;
}

.moho-vice-card[data-card-id=CupsJack] {
  background-position-x: 83.3333333333%;
  background-position-y: 0%;
}

.moho-vice-card[data-card-id=CupsQueen] {
  background-position-x: 91.6666666667%;
  background-position-y: 0%;
}

.moho-vice-card[data-card-id=CupsRogue] {
  background-position-x: 100%;
  background-position-y: 0%;
}

.moho-vice-card[data-card-id=Fans1] {
  background-position-x: 0%;
  background-position-y: 33.3333333333%;
}

.moho-vice-card[data-card-id=Fans2] {
  background-position-x: 8.3333333333%;
  background-position-y: 33.3333333333%;
}

.moho-vice-card[data-card-id=Fans3] {
  background-position-x: 16.6666666667%;
  background-position-y: 33.3333333333%;
}

.moho-vice-card[data-card-id=Fans4] {
  background-position-x: 25%;
  background-position-y: 33.3333333333%;
}

.moho-vice-card[data-card-id=Fans5] {
  background-position-x: 33.3333333333%;
  background-position-y: 33.3333333333%;
}

.moho-vice-card[data-card-id=Fans6] {
  background-position-x: 41.6666666667%;
  background-position-y: 33.3333333333%;
}

.moho-vice-card[data-card-id=Fans7] {
  background-position-x: 50%;
  background-position-y: 33.3333333333%;
}

.moho-vice-card[data-card-id=Fans8] {
  background-position-x: 58.3333333333%;
  background-position-y: 33.3333333333%;
}

.moho-vice-card[data-card-id=Fans9] {
  background-position-x: 66.6666666667%;
  background-position-y: 33.3333333333%;
}

.moho-vice-card[data-card-id=FansConstable] {
  background-position-x: 75%;
  background-position-y: 33.3333333333%;
}

.moho-vice-card[data-card-id=FansJack] {
  background-position-x: 83.3333333333%;
  background-position-y: 33.3333333333%;
}

.moho-vice-card[data-card-id=FansQueen] {
  background-position-x: 91.6666666667%;
  background-position-y: 33.3333333333%;
}

.moho-vice-card[data-card-id=FansRogue] {
  background-position-x: 100%;
  background-position-y: 33.3333333333%;
}

.moho-vice-card[data-card-id=Hearts1] {
  background-position-x: 0%;
  background-position-y: 66.6666666667%;
}

.moho-vice-card[data-card-id=Hearts2] {
  background-position-x: 8.3333333333%;
  background-position-y: 66.6666666667%;
}

.moho-vice-card[data-card-id=Hearts3] {
  background-position-x: 16.6666666667%;
  background-position-y: 66.6666666667%;
}

.moho-vice-card[data-card-id=Hearts4] {
  background-position-x: 25%;
  background-position-y: 66.6666666667%;
}

.moho-vice-card[data-card-id=Hearts5] {
  background-position-x: 33.3333333333%;
  background-position-y: 66.6666666667%;
}

.moho-vice-card[data-card-id=Hearts6] {
  background-position-x: 41.6666666667%;
  background-position-y: 66.6666666667%;
}

.moho-vice-card[data-card-id=Hearts7] {
  background-position-x: 50%;
  background-position-y: 66.6666666667%;
}

.moho-vice-card[data-card-id=Hearts8] {
  background-position-x: 58.3333333333%;
  background-position-y: 66.6666666667%;
}

.moho-vice-card[data-card-id=Hearts9] {
  background-position-x: 66.6666666667%;
  background-position-y: 66.6666666667%;
}

.moho-vice-card[data-card-id=HeartsConstable] {
  background-position-x: 75%;
  background-position-y: 66.6666666667%;
}

.moho-vice-card[data-card-id=HeartsJack] {
  background-position-x: 83.3333333333%;
  background-position-y: 66.6666666667%;
}

.moho-vice-card[data-card-id=HeartsQueen] {
  background-position-x: 91.6666666667%;
  background-position-y: 66.6666666667%;
}

.moho-vice-card[data-card-id=HeartsRogue] {
  background-position-x: 100%;
  background-position-y: 66.6666666667%;
}

.moho-vice-card[data-card-id=Pentacles1] {
  background-position-x: 0%;
  background-position-y: 100%;
}

.moho-vice-card[data-card-id=Pentacles2] {
  background-position-x: 8.3333333333%;
  background-position-y: 100%;
}

.moho-vice-card[data-card-id=Pentacles3] {
  background-position-x: 16.6666666667%;
  background-position-y: 100%;
}

.moho-vice-card[data-card-id=Pentacles4] {
  background-position-x: 25%;
  background-position-y: 100%;
}

.moho-vice-card[data-card-id=Pentacles5] {
  background-position-x: 33.3333333333%;
  background-position-y: 100%;
}

.moho-vice-card[data-card-id=Pentacles6] {
  background-position-x: 41.6666666667%;
  background-position-y: 100%;
}

.moho-vice-card[data-card-id=Pentacles7] {
  background-position-x: 50%;
  background-position-y: 100%;
}

.moho-vice-card[data-card-id=Pentacles8] {
  background-position-x: 58.3333333333%;
  background-position-y: 100%;
}

.moho-vice-card[data-card-id=Pentacles9] {
  background-position-x: 66.6666666667%;
  background-position-y: 100%;
}

.moho-vice-card[data-card-id=PentaclesConstable] {
  background-position-x: 75%;
  background-position-y: 100%;
}

.moho-vice-card[data-card-id=PentaclesJack] {
  background-position-x: 83.3333333333%;
  background-position-y: 100%;
}

.moho-vice-card[data-card-id=PentaclesQueen] {
  background-position-x: 91.6666666667%;
  background-position-y: 100%;
}

.moho-vice-card[data-card-id=PentaclesRogue] {
  background-position-x: 100%;
  background-position-y: 100%;
}

.card-sides {
  position: relative !important;
}

.card.selectable {
  cursor: pointer !important;
}
.card.selectable .card-sides .card-side {
  outline: solid calc(var(--cardScale) * 4px) yellow;
}

.card.selectable:hover,
.card.selected {
  cursor: pointer !important;
}
.card.selectable:hover .card-sides .card-side,
.card.selected .card-sides .card-side {
  outline: solid calc(var(--cardScale) * 4px) blue;
}

#moho-deck.selectable {
  cursor: pointer !important;
  outline: solid calc(var(--cardScale) * 4px) yellow;
}

#moho-deck.selectable:hover,
#moho-deck.selected {
  cursor: pointer !important;
  outline: solid calc(var(--cardScale) * 4px) blue;
}

#popin_moho-card-modal-gossipPile_underlay,
#popin_moho-card-modal-safePile_underlay {
  background-color: #000 !important;
}

.moho-card-modal {
  background-color: ivory;
  background-size: cover;
  border-radius: 8px;
  box-shadow: rgb(0, 0, 0) 1px 1px 5px;
  border: 1px solid black;
  max-width: min(1200px, 90%);
  min-width: 640px;
}
.moho-card-modal .moho-card-modal_closeicon {
  background-color: #a47a77;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -18px;
  right: -18px;
  font-size: 90%;
  color: white !important;
  border: 1px solid #dfbda8;
  cursor: pointer;
}
.moho-card-modal .moho-card-modal_closeicon:hover {
  text-decoration: none;
  color: #ccc !important;
  transform: scale(1.1);
}
.moho-card-modal .moho-card-modal_closeicon i {
  margin-top: -2px;
}
.moho-card-modal h2 {
  text-align: center;
  font-size: large;
  font-weight: bold;
  margin: 0px;
  padding: 7px 0px;
  border-bottom: 1px solid black;
  color: ivory;
  border-top-left-radius: 7px;
  background-color: rgb(20, 22, 29);
}
.moho-card-modal .moho-card-modal-content {
  --cardScale: 1;
  min-height: 225px;
  padding: 8px;
  max-height: 75vh;
  overflow-y: auto;
}

.bga-dice_die-face {
  background-image: url("img/die.jpg");
  background-size: 600% 100%;
  background-repeat: no-repeat;
  border: 1px solid black;
}

.bga-dice_die-face[data-face="1"] {
  background-position-x: 0%;
}

.bga-dice_die-face[data-face="2"] {
  background-position-x: 20%;
}

.bga-dice_die-face[data-face="3"] {
  background-position-x: 40%;
}

.bga-dice_die-face[data-face="4"] {
  background-position-x: 60%;
}

.bga-dice_die-face[data-face="5"] {
  background-position-x: 80%;
}

.bga-dice_die-face[data-face="6"] {
  background-position-x: 100%;
}

#moho-festivity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#moho-festivity .moho-festivity-container {
  width: calc(var(--cardScale) * 254px);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--boardScale) * 4px);
}
#moho-festivity .moho-festivity-container span {
  text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black, 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
  font-size: calc(var(--boardScale) * 20px);
}
#moho-festivity .moho-festivity-container .moho-rogue-value {
  position: absolute;
  top: calc(var(--cardScale) * 1px);
  left: calc(var(--cardScale) * 11px);
  text-shadow: #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px !important;
  color: black !important;
  font-weight: bold;
  font-size: calc(var(--boardScale) * 40px);
}
#moho-festivity .moho-festivity-container .moho-festivity-stock {
  height: calc(var(--cardScale) * 225px);
}
#moho-festivity .moho-festivity-container .moho-festivity-stock .moho-vice-card-container:not(:first-child) {
  margin-left: calc(var(--cardScale) * -115px);
}
#moho-festivity .moho-festivity-container .moho-festivity-player-name {
  display: flex;
  flex-direction: row;
  --iconScale: calc(var(--boardScale) * 0.5);
  gap: calc(var(--boardScale) * 8px);
}
#moho-festivity .moho-festivity-container .moho-candelabra {
  display: none;
}
#moho-festivity .moho-festivity-container.moho-festivity-runner .moho-candelabra {
  display: inherit;
  filter: drop-shadow(0px 0px calc(var(--iconScale) * 2px) white) drop-shadow(0px 0px calc(var(--iconScale) * 2px) white) drop-shadow(0px 0px calc(var(--iconScale) * 2px) white);
}
#moho-festivity #moho-festivity-community span {
  color: ivory;
}
#moho-festivity #moho-festivity-played-dresses {
  position: absolute;
}

#moho-festivity[data-active=false] {
  display: none;
  pointer-events: none;
}

#hand {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  --cardScale: var(--handScale);
  height: calc(var(--cardScale) * 180px);
  width: 100%;
  z-index: 2;
  pointer-events: none;
}
#hand .moho-vice-card {
  pointer-events: auto;
}
#hand .moho-vice-card:hover {
  transform: translateY(-20px) scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.moho-candelabra {
  width: calc(var(--iconScale) * 50px);
  aspect-ratio: 200/166;
  background-image: url("img/candelabra.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.moho-suit {
  width: calc(var(--iconScale) * 40px);
  aspect-ratio: 1/1;
  background-image: url("img/suits.png");
  background-size: 400% 100%;
  background-repeat: no-repeat;
}

.moho-suit[data-suit=cups] {
  background-position-x: 0%;
}

.moho-suit[data-suit=fans] {
  background-position-x: 33.3333333333%;
}

.moho-suit[data-suit=hearts] {
  background-position-x: 66.6666666667%;
}

.moho-suit[data-suit=pentacles] {
  background-position-x: 100%;
}

.moho-cube {
  width: calc(var(--iconScale) * 40px);
  aspect-ratio: 160/179;
  background-image: url("img/cubes.png");
  background-size: 400% 100%;
  background-repeat: no-repeat;
}

.moho-cube[data-color=blue] {
  background-position-x: 0%;
}

.moho-cube[data-color=green] {
  background-position-x: 33.3333333333%;
}

.moho-cube[data-color=red] {
  background-position-x: 66.6666666667%;
}

.moho-cube[data-color=yellow] {
  background-position-x: 100%;
}

.moho-card-back {
  height: calc(var(--iconScale) * 40px);
  aspect-ratio: 300/419;
  background-image: url("img/back.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.moho-draw-token {
  width: calc(var(--iconScale) * 40px);
  aspect-ratio: 1/1;
  background-image: url("img/draw_token.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.moho-joy-marker-stock {
  position: absolute;
  aspect-ratio: 1/1;
}
.moho-joy-marker-stock .moho-joy-marker-container:not(:first-child) {
  margin-left: calc(var(--tokenScale) * -40px);
}
.moho-joy-marker-stock .moho-joy-marker-container:nth-child(2) {
  margin-top: calc(var(--tokenScale) * -5px);
}
.moho-joy-marker-stock .moho-joy-marker-container:nth-child(3) {
  margin-top: calc(var(--tokenScale) * -10px);
}
.moho-joy-marker-stock .moho-joy-marker-container:nth-child(4) {
  margin-top: calc(var(--tokenScale) * -15px);
}
.moho-joy-marker-stock .moho-joy-marker-container:nth-child(5) {
  margin-top: calc(var(--tokenScale) * -20px);
}
.moho-joy-marker-stock .moho-joy-marker-container:nth-child(6) {
  margin-top: calc(var(--tokenScale) * -25px);
}

.moho-joy-marker-stock.moho-game-end-threshold {
  outline: calc(var(--tokenScale) * 5px) solid rgb(223, 176, 103);
  width: calc(var(--tokenScale) * 42px);
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.moho-joy-marker-container {
  border-radius: 50%;
}

.moho-joy-marker {
  position: absolute;
  width: calc(var(--tokenScale) * 42px);
  aspect-ratio: 1/1;
  background-image: url("img/joy_markers.png");
  background-size: 500% 300%;
  background-position-y: 50%;
  border-radius: 50%;
}

.moho-joy-marker[data-color=blue] {
  background-position-x: 0%;
}

.moho-joy-marker[data-color=green] {
  background-position-x: 25%;
}

.moho-joy-marker[data-color=pink] {
  background-position-x: 50%;
}

.moho-joy-marker[data-color=purple] {
  background-position-x: 75%;
}

.moho-joy-marker[data-color=yellow] {
  background-position-x: 100%;
}

.moho-joy-marker[data-color=black] {
  background-position-x: 0%;
  background-position-y: 100%;
}

.moho-joy-marker[data-hanged=true] {
  background-position-y: 0%;
}

#moho-market {
  display: flex;
  flex-direction: row;
  padding: calc(var(--cardScale) * 16px);
  padding-bottom: calc(var(--cardScale) * 8px);
  padding-top: 0px;
  --cardScale: calc(var(--leftColumnScale) * 1.3);
  gap: calc(var(--cardScale) * 16px);
}
#moho-market .moho-market-slot {
  width: calc(var(--cardScale) * 161px);
  height: calc(var(--cardScale) * 225px);
}
#moho-market #moho-deck {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}
#moho-market #moho-deck.moho-empty {
  background-image: none !important;
  box-shadow: none;
  border: none;
  cursor: default;
}
#moho-market #moho-safe-pile {
  position: relative;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
#moho-market #moho-safe-pile #moho-safe-pile-counter {
  z-index: 1;
}
#moho-market #moho-safe-pile .card {
  position: absolute !important;
}
#moho-market #moho-safe-pile[data-card-id=none] {
  background-image: none !important;
  box-shadow: none;
  border: none;
  cursor: default;
}

#moho-market-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  --cardScale: calc(var(--leftColumnScale) * 1.3);
  padding: calc(var(--cardScale) * 16px);
  padding-top: 0px;
  gap: calc(var(--cardScale) * 16px);
}
#moho-market-bar span {
  width: calc(var(--cardScale) * 161px);
  text-align: center;
  font-weight: bold;
  text-shadow: #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px;
}
#moho-market-bar .moho-market-label {
  width: calc(var(--cardScale) * 4 * 161px + 48px);
}

.moho-deck-counter {
  position: absolute;
  bottom: calc(var(--cardScale) * 2px);
  right: calc(var(--cardScale) * 12px);
  text-shadow: #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px;
  font-weight: bold;
  font-size: calc(var(--cardScale) * 40px);
}

.moho-player-container {
  width: calc(var(--rightColumnScale) * 1000px);
  gap: calc(var(--rightColumnScale) * 4px);
  display: flex;
  flex-direction: column;
}
.moho-player-container .moho-player-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: calc(var(--rightColumnScale) * 8px);
}
.moho-player-container .moho-encounter-tokens {
  --tokenScale: var(--rightColumnScale);
  height: fit-content;
}
.moho-player-container .moho-encounter-tokens .moho-encounter-token-container:not(:first-child) {
  margin-left: calc(var(--tokenScale) * -40px);
}
.moho-player-container .moho-indictments {
  --cardScale: var(--rightColumnScale);
  min-height: fit-content;
}
.moho-player-container .moho-indictments .moho-indictment-container:not(:first-child) {
  margin-left: calc(var(--cardScale) * -100px);
}

.moho-player-board {
  --playerBoardScale: var(--rightColumnScale);
  --tokenScale: var(--rightColumnScale);
  --cardScale: var(--rightColumnScale);
  --iconScale: var(--rightColumnScale);
  position: relative;
  background-size: 100% 100%;
  width: calc(var(--playerBoardScale) * 600px);
  aspect-ratio: 137/60;
  outline: 1px solid black;
}
.moho-player-board .moho-item-spot {
  position: absolute;
}
.moho-player-board .moho-item-spot[data-spot="1"] {
  left: calc(var(--playerBoardScale) * 201px);
  top: calc(var(--playerBoardScale) * 13px);
}
.moho-player-board .moho-item-spot[data-spot="2"] {
  left: calc(var(--playerBoardScale) * 407px);
  top: calc(var(--playerBoardScale) * 13px);
}
.moho-player-board .moho-player-board-counters {
  position: absolute;
  left: calc(var(--playerBoardScale) * 58px);
  top: calc(var(--playerBoardScale) * 22px);
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: calc(var(--playerBoardScale) * 16px);
}
.moho-player-board .moho-candelabra-spot {
  position: absolute;
  left: calc(var(--playerBoardScale) * 5px);
  top: calc(var(--playerBoardScale) * 86px);
  width: calc(var(--iconScale) * 50px);
  aspect-ratio: 200/166;
}

.moho-reputation {
  position: relative;
  display: flex;
  --cardScale: var(--rightColumnScale);
  justify-content: flex-start !important;
  flex-grow: 1;
  align-items: center;
}
.moho-reputation .moho-vice-card-container:not(:first-child) {
  margin-left: calc(var(--rightColumnScale) * -115px);
}

.moho-player-board[data-color=blue] {
  background-image: url("img/player_board_blue.jpg");
}

.moho-player-board[data-color=green] {
  background-image: url("img/player_board_green.jpg");
}

.moho-player-board[data-color=pink] {
  background-image: url("img/player_board_pink.jpg");
}

.moho-player-board[data-color=purple] {
  background-image: url("img/player_board_purple.jpg");
}

.moho-player-board[data-color=yellow] {
  background-image: url("img/player_board_yellow.jpg");
}

.player-board-game-specific-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 8px;
  grid-row-gap: 8px;
  --iconScale: 1;
  padding-top: 8px;
}

.moho-counters-row {
  width: 100%;
  display: grid;
  grid-template: 48px auto/repeat(4, 48px);
  justify-content: space-evenly;
  gap: 4px;
}

/* ------- UNDO TURN ------- */
/* Cancelled notification messages */
.log.cancel {
  color: #c62828 !important;
  text-decoration: line-through;
}

/* Desktop logs */
.log.cancel .roundedbox {
  background-color: rgba(240, 186, 117, 0.6) !important;
}

/* Mobile logs */
.log.cancel.roundedbox {
  background-color: #ef9a9a;
}

a[style*="color: #c0c0c0"],
a[style*="color:#c0c0c0"],
span[style*="color: #c0c0c0"],
span[style*="color:#c0c0c0"] {
  text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black, 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black !important;
}

#logs .log.notif_newUndoableStep {
  margin-top: 0px;
}
#logs .log.notif_newUndoableStep .roundedbox {
  display: none;
  text-align: center;
  cursor: pointer;
  background-color: #c4c2c2;
  font-size: 12px;
  padding: 2px 5px;
}
#logs .log.notif_newUndoableStep .roundedbox::before, #logs .log.notif_newUndoableStep .roundedbox::after {
  content: "\f0e2";
  font: normal normal normal 12px/1 FontAwesome;
  margin: 0px 10px;
}
#logs .log.notif_newUndoableStep.selectable .roundedbox {
  display: block;
}

.chatwindowlogs_zone .log.notif_newUndoableStep {
  margin-bottom: -4px;
  padding: 0px;
  display: none !important;
}
.chatwindowlogs_zone .log.notif_newUndoableStep.selectable {
  display: block !important;
}
.chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner {
  text-align: center;
  cursor: pointer;
  background-color: #c4c2c2;
  font-size: 12px;
  padding: 2px 5px;
}
.chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner::before, .chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner::after {
  content: "\f0e2";
  font: normal normal normal 12px/1 FontAwesome;
  margin: 0px 10px;
}
.chatwindowlogs_zone .log.notif_newUndoableStep.selectable .roundedboxinner .msgtime {
  display: none;
}

/* ------- LOG TOKENS ------- */
.log_tooltip {
  position: relative;
}
.log_tooltip .help-marker {
  top: -11px;
  left: auto;
  right: -18px;
}

.log-token,
.log_token {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: -3px;
  margin-top: 3px;
  margin-left: 1px;
  margin-right: 1px;
}

#customActions {
  --iconScale: 0.75;
  --tokenScale: 0.6;
}

#pagemaintitletext,
#gameaction_status {
  --tokenScale: 0.6;
  --iconScale: 0.7;
  --cardScale: 0;
}
#pagemaintitletext .moho-suit,
#gameaction_status .moho-suit {
  --iconScale: 1;
}
#pagemaintitletext .moho-pawn,
#gameaction_status .moho-pawn {
  --iconScale: 0.4;
}
#pagemaintitletext .bga-dice_die-face,
#gameaction_status .bga-dice_die-face {
  width: 40px;
  height: 40px;
}

.log > .roundedbox,
.log > .roundedboxinner {
  --tokenScale: 0.6;
  --iconScale: 0.7;
}
.log > .roundedbox .moho-vice-card,
.log > .roundedboxinner .moho-vice-card {
  display: block;
  margin-top: calc(var(--logCardScale) * 6px);
  --cardScale: var(--logCardScale);
}
.log > .roundedbox .moho-pawn,
.log > .roundedboxinner .moho-pawn {
  --iconScale: 0.4;
}
.log > .roundedbox .bga-dice_die-face,
.log > .roundedboxinner .bga-dice_die-face {
  width: 30px;
  height: 30px;
}
.log > .roundedbox .moho-suit,
.log > .roundedboxinner .moho-suit {
  --iconScale: 0.875;
}

.notif_phase .roundedboxinner,
.notif_phase .roundedbox,
.notif_festivityPhase .roundedboxinner,
.notif_festivityPhase .roundedbox {
  font-weight: bold;
  text-align: center;
}

.notif_phase .roundedbox,
.notif_festivityPhase .roundedbox {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.moho-pawn {
  height: calc(var(--iconScale) * 101px);
  aspect-ratio: 275/424;
  background-image: url("img/pawns_outline.png");
  background-size: 500% 100%;
  background-repeat: no-repeat;
}

.moho-pawn[data-color=blue] {
  background-position-x: 0%;
}

.moho-pawn[data-color=green] {
  background-position-x: 25%;
}

.moho-pawn[data-color=pink] {
  background-position-x: 50%;
}

.moho-pawn[data-color=purple] {
  background-position-x: 75%;
}

.moho-pawn[data-color=yellow] {
  background-position-x: 100%;
}

html {
  background-image: url("img/background.jpg");
  background-attachment: fixed;
}

#play-area-container {
  padding: 4px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 8px;
}

#play-area-container[data-two-columns=disabled] {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#right-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#game-buttons {
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/*# sourceMappingURL=mollyhouse.css.map */
