@use 'sass:math';
@use 'sass:map';

.moho-item {
  width: calc(var(--cardScale) * 178px);
  aspect-ratio: 402 / 265;

  box-sizing: border-box;
  background-image: url('img/items_updated.jpg');
  background-size: 400% 300%;
  background-repeat: no-repeat;
  border: calc(var(--cardScale) * 1px) black solid;
  border-radius: calc(var(--cardScale) * 5px);
  image-rendering: -webkit-optimize-contrast;
  image-rendering: high-quality;
  position: relative;
}

.moho-item:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
}

$items: (
  1: 'BottleOfGin',
  2: 'Bribe',
  3: 'Doll',
  4: 'DominoV2',
  5: 'DressOfFans',
  6: 'DressOfCups',
  7: 'DressOfHearts',
  8: 'DressOfPentacles',
  9: 'NewspaperNoticeV2',
  10: 'Violin',
  11: 'Back',
);

$cols: 4;
$rows: 3;

@for $i from 1 through 41 {
  $index: $i - 1;
  $col: $index % $cols;
  $row: math.floor(math.div($index, $cols));

  .moho-item[data-type='#{map.get($items,$i)}'] {
    background-position-x: math.div($col * 100%, $cols - 1);
    background-position-y: math.div($row * 100%, $rows - 1);
  }
}

.moho-item[data-type='Domino'] {
  background-image: url('img/items.jpg');
  background-size: 500% 200%;
  background-position-x: 50%;
  background-position-y: 0%;
}

.moho-item[data-type='NewspaperNotice'] {
  background-image: url('img/items.jpg');
  background-size: 500% 200%;
  background-position-x: 50%;
  background-position-y: 100%;
}
