@use 'sass:math';
@use 'sass:map';

.moho-player-container {
  width: calc(var(--rightColumnScale) * 1000px);
  gap: calc(var(--rightColumnScale) * 4px);
  display: flex;
  flex-direction: column;

  .moho-player-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: calc(var(--rightColumnScale) * 8px);
  }

  .moho-encounter-tokens {
    --tokenScale: var(--rightColumnScale);
    height: fit-content;

    .moho-encounter-token-container:not(:first-child) {
      margin-left: calc(var(--tokenScale) * -40px);
    }
  }

  .moho-indictments {
    --cardScale: var(--rightColumnScale);
    min-height: fit-content;

    .moho-indictment-container:not(:first-child) {
      margin-left: calc(var(--cardScale) * -100px);
    }
  }
}

.moho-player-board {
  // --boardScale: var(--rightColumnScale);
  --playerBoardScale: var(--rightColumnScale);
  --tokenScale: var(--rightColumnScale);
  --cardScale: var(--rightColumnScale);
  position: relative;

  background-size: 100% 100%;
  // height: calc(var(--rightColumnScale) * 300px);
  // min-height: calc(var(--rightColumnScale) * 300px);
  width: calc(var(--playerBoardScale) * 600px);
  aspect-ratio: 137 / 60;
  outline: 1px solid black;
  // width: 100%;
  // aspect-ratio: 30 / 15;

  .moho-item-spot {
    position: absolute;
  }

  .moho-item-spot[data-spot='1'] {
    left: calc(var(--playerBoardScale) * 201px);
    top: calc(var(--playerBoardScale) * 13px);
  }

  .moho-item-spot[data-spot='2'] {
    left: calc(var(--playerBoardScale) * 407px);
    top: calc(var(--playerBoardScale) * 13px);
  }
}

.moho-reputation {
  position: relative;
  display: flex;
  --cardScale: var(--rightColumnScale);
  justify-content: flex-start !important;
  // flex-direction: row-reverse !important;
  flex-grow: 1;
  // margin-left: auto;
  // width: calc(var(--rightColumnScale) * 315px);
  // min-width: calc(var(--rightColumnScale) * 315px);
  // background-color: yellow;
  // flex-direction: row-reverse !important;
  // align-items: center;
  align-items: center;

  .moho-vice-card-container:not(:first-child) {
    margin-left: calc(var(--rightColumnScale) * -115px);
  }
}

$player-colors: (
  1: 'blue',
  2: 'green',
  3: 'pink',
  4: 'purple',
  5: 'yellow',
);

@for $i from 1 through 5 {
  .moho-player-board[data-color='#{map.get($player-colors,$i)}'] {
    background-image: url('img/player_board_#{map.get($player-colors,$i)}.jpg');
  }
}

// .moho-player-board[data-color="yellow"] {
//   background-image: url('img/player_board_yellow.jpg');
// }
