@use './encounter-tokens/encounterTokens';
@use './indictment-cards/indictment-cards';
@use './items/items';
@use './vice-cards/vice-cards';
@use '../base';

.card-sides {
  position: relative !important;
}

.card.selectable {
  cursor: pointer !important;
  .card-sides {
    .card-side {
      outline: solid calc(var(--cardScale) * 4px) base.$selectable-color;
    }
  }
}

.card.selectable:hover,
.card.selected {
  cursor: pointer !important;
  .card-sides {
    .card-side {
      outline: solid calc(var(--cardScale) * 4px) base.$selected-color;
    }
  }
}

#moho-deck.selectable {
  cursor: pointer !important;
  outline: solid calc(var(--cardScale) * 4px) base.$selectable-color;
}

#moho-deck.selectable:hover,
#moho-deck.selected {
  cursor: pointer !important;
  outline: solid calc(var(--cardScale) * 4px) base.$selected-color;
}
