@use '../base';

#moho-board {
  --boardScale: var(--leftColumnScale);
  --tokenScale: var(--leftColumnScale);
  position: relative;
  background-image: url('img/board.jpg');
  background-size: 100% 100%;
  height: calc(var(--leftColumnScale) * 1157px);
  min-height: calc(var(--leftColumnScale) * 1157px);
  width: calc(var(--leftColumnScale) * 1500px);
  // width: 100%;
  // aspect-ratio: 30 / 15;
}
