@use '../base';

#moho-board {
  --boardScale: var(--leftColumnScale);
  --tokenScale: var(--leftColumnScale);
  --cardScale: var(--boardScale);
  --iconScale: var(--boardScale);
  position: relative;
  background-image: url('img/board.jpg');
  background-size: 100% 100%;
  height: calc(var(--leftColumnScale) * 1157px);
  min-height: calc(var(--leftColumnScale) * 1157px);
  width: calc(var(--leftColumnScale) * 1500px);
  // width: 100%;
  // aspect-ratio: 30 / 15;
  outline: 1px solid black;

  #moho-playmat {
    position: relative;
    background-image: url('img/playmat.jpg');
    background-size: 100% 100%;
    height: calc(var(--boardScale) * 748px);
    min-height: calc(var(--boardScale) * 748px);
    width: calc(var(--boardScale) * 880px);
    position: absolute;
    left: calc(var(--boardScale) * 203px);
    top: calc(var(--boardScale) * 201px);
    border: calc(var(--boardScale) * 2px) solid black;
    border-radius: calc(var(--boardScale) * 40px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #moho-gossip-pile {
    position: absolute;
    left: calc(var(--boardScale) * 1300px);
    top: calc(var(--boardScale) * 903px);
    width: calc(var(--boardScale) * 161px);
    height: calc(var(--boardScale) * 225px);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);

    // outline: 2px yellow solid;
    .card {
      position: absolute !important;
    }
  }

  .moho-pawn {
    position: absolute;
  }

  #moho-dice-stock[data-festivity='true'] {
    display: none;
    pointer-events: none;
  }

  #moho-evidence-counters {
    .icon-counter-container {
      position: absolute;
    }

    #cubes-MotherClaps {
      left: calc(var(--boardScale) * 125px);
      top: calc(var(--boardScale) * 60px);
    }

    #cubes-MissMuffs {
      left: calc(var(--boardScale) * 1123px);
      top: calc(var(--boardScale) * 60px);
    }

    #cubes-SukeyBevells {
      left: calc(var(--boardScale) * 1123px);
      top: calc(var(--boardScale) * 1047px);
    }

    #cubes-JuliusCesarTaylors {
      left: calc(var(--boardScale) * 125px);
      top: calc(var(--boardScale) * 1047px);
    }
  }
}

.moho-house-raided-marker {
  position: absolute;
  width: calc(var(--boardScale) * 135px);
  height: calc(var(--boardScale) * 135px);
  background-image: url('img/house_raided_markers.png');
  background-size: 400% 100%;
}

.moho-house-raided-marker[data-raided='false'] {
  display: none;
}

.moho-house-raided-marker[data-house='MotherClaps'] {
  background-position-x: 100%;
  left: calc(var(--boardScale) * 0px);
}
.moho-house-raided-marker[data-house='MissMuffs'] {
  background-position-x: 33.333333%;
  left: calc(var(--boardScale) * 1150px);
}
.moho-house-raided-marker[data-house='SukeyBevells'] {
  background-position-x: 66.666667%;
  left: calc(var(--boardScale) * 1150px);
  bottom: calc(var(--boardScale) * 0px);
}
.moho-house-raided-marker[data-house='JuliusCesarTaylors'] {
  background-position-x: 0%;
  bottom: calc(var(--boardScale) * 0px);
}

.moho-dangerous-cruising-marker {
  position: absolute;
  width: calc(var(--boardScale) * 189px);
  // height: calc(var(--boardScale) * 135px);
  aspect-ratio: 400 / 109;
  background-image: url('img/dangerous_cruising.png');
  background-size: 100% 100%;
}

.moho-dangerous-cruising-marker[data-dangerous='false'] {
  display: none;
}

.moho-dangerous-cruising-marker[data-side-of-board='left'] {
  transform: rotate(90deg);
}

.moho-dangerous-cruising-marker[data-side-of-board='top'] {
  transform: rotate(180deg);
}

.moho-dangerous-cruising-marker[data-side-of-board='right'] {
  transform: rotate(270deg);
}

.moho-select-box {
  position: absolute;
  display: none;
}

.moho-select-box.selectable {
  cursor: pointer;
  display: block;
  outline: calc(var(--boardScale) * 4px) solid base.$selectable-color !important;
}

// .moho-select-box.moho-select-site.selectable {
//   outline: calc(var(--boardScale) * 8px) solid base.$selectable-color !important;
// }

.moho-select-box.selected,
.moho-select-box.selectable:hover {
  cursor: pointer;
  display: block;
  outline: calc(var(--boardScale) * 4px) solid base.$selected-color !important;
}

// .moho-select-box.selected,
// .moho-select-box.selectable:hover {
//   outline: calc(var(--boardScale) * 8px) solid base.$selected-color !important;
// }

#moho-week-marker {
  position: absolute;
  width: calc(var(--boardScale) * 31px);
  background-image: url('img/week_marker.png');
  background-size: 100% 100%;
  aspect-ratio: 132 / 174;
}

