#moho-market {
  display: flex;
  flex-direction: row;
  padding: calc(var(--cardScale) * 16px);
  --cardScale: calc(var(--leftColumnScale) * 1.3);
  gap: calc(var(--cardScale) * 16px);

  .moho-market-slot {
    width: calc(var(--cardScale) * 161px);
    height: calc(var(--cardScale) * 225px);
  }
}
