#moho-market {
  display: flex;
  flex-direction: row;
  padding: calc(var(--cardScale) * 16px);
  padding-bottom: calc(var(--cardScale) * 8px);
  padding-top: 0px;
  --cardScale: calc(var(--leftColumnScale) * 1.3);
  gap: calc(var(--cardScale) * 16px);

  .moho-market-slot {
    width: calc(var(--cardScale) * 161px);
    height: calc(var(--cardScale) * 225px);
  }

  #moho-deck {
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  }

  #moho-deck.moho-empty {
    background-image: none !important;
    box-shadow: none;
    border: none;
    cursor: default;
  }

  #moho-safe-pile {
    position: relative;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;

    #moho-safe-pile-counter {
      z-index: 1;
    }

    .card {
      position: absolute !important;
    }
  }

  #moho-safe-pile[data-card-id='none'] {
    background-image: none !important;
    box-shadow: none;
    border: none;
    cursor: default;
  }
}

#moho-market-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  --cardScale: calc(var(--leftColumnScale) * 1.3);
  padding: calc(var(--cardScale) * 16px);
  padding-top: 0px;
  gap: calc(var(--cardScale) * 16px);

  span {
    width: calc(var(--cardScale) * 161px);
    text-align: center;
    font-weight: bold;
    text-shadow: #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px,
      #fff 0 0 2px, #fff 0 0 2px;
    font-size: calc(var(--leftColumnScale) * 39px);
  }

  .moho-market-label {
    width: calc(var(--cardScale) * 4 * 161px + 3 * 16px);
  }
}

.moho-deck-counter {
  position: absolute;
  bottom: calc(var(--cardScale) * 2px);
  right: calc(var(--cardScale) * 12px);
  text-shadow: #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px, #fff 0 0 2px,
    #fff 0 0 2px, #fff 0 0 2px;
  font-weight: bold;
  font-size: calc(var(--cardScale) * 40px);
}
