@use 'sass:math';

.moho-pawn {
  height: calc(var(--iconScale) * 101px);
  aspect-ratio: 275 / 424;
  background-image: url('img/pawns_outline.png');
  background-size: 500% 100%;
  background-repeat: no-repeat;
}

.moho-pawn[data-color='blue'] {
  background-position-x: 0%;
}
.moho-pawn[data-color='green'] {
  background-position-x: 25%;
}
.moho-pawn[data-color='pink'] {
  background-position-x: 50%;
}
.moho-pawn[data-color='purple'] {
  background-position-x: 75%;
}
.moho-pawn[data-color='yellow'] {
  background-position-x: 100%;
}
